<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speakers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/styles/main.scss">

</head>
<body>
  <header class="header container-fluid">
    <div class="row align-items-center py-3">
      <div class="col-6 col-md-3">
        <img src="../assets/images/logo.png" alt="Logo de las Jornadas" class="logo img-fluid">
      </div>
      <nav class="col-6 col-md-9 text-end">
        <ul class="nav justify-content-end">
          <li class="nav-item"><a href="../index.html" class="nav-link">Inici</a></li>
          <li class="nav-item"><a href="./page3.html" class="nav-link">Informació</a></li>
          <li class="nav-item"><a href="./page4.html" class="nav-link">Contacte</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <main class="main container">
    <h1 class="text-center mt-2">Speakers</h1>
    <section class="speakers row mt-3">
      <article class="speaker col-md-10">
        <div class="card text-center">
          <img src="../assets/images/speaker2.jpg" alt="Speaker One" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Speaker One</h2>
            <p class="card-text">Un referent en [àrea d’especialització], amb una trajectòria destacada en [breu descripció dels èxits].</p>
          </div>
        </div>
      </article>
      <article class="speaker col-md-10">
        <div class="card text-center">
          <img src="../assets/images/speaker1.jpg" alt="Speaker Two" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Speaker Two</h2>
            <p class="card-text">Innovador i estrateg en [sector/tema], reconegut per [destacar algun assoliment rellevant].</p>
          </div>
        </div>
      </article>
      <article class="speaker col-md-10">
        <div class="card text-center">
          <img src="../assets/images/speaker2.jpg" alt="Speaker Three" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Speaker Three</h2>
            <p class="card-text">Líder en [camp de coneixement], amb una àmplia experiència en [breu descripció del seu impacte].</p>
          </div>
        </div>
      </article>
    </section>
    <p class="text-center mt-5">Es poden afegir més Speakers si és necessari.</p>
  </main>

  <footer class="footer container-fluid text-center py-4">
    <p>&copy; 2024 - Jornades de Seguretat Informàtica</p>
  </footer>
</body>
</html>
