// body {
//   font-family: $font-family-base;
//   margin: 0;
//   padding: 0;
//   color: $text-color;
//   background-color: $background-color;
// }

// .header {
//   background-color: $primary-color;
//   color: white;

//   .nav-link {
//     color: white;
//     &:hover {
//       color: $accent-color;
//     }
//   }
// }

// .footer {
//   background-color: $secondary-color;
//   color: white;

//   .nav-link {
//     color: white;
//     &:hover {
//       color: $accent-color;
//     }
//   }
// }

@use './variables' as vars;

.header {
  background-color: vars.$primary-color; /* Color de fons del header */
  color: white; /* Text en blanc */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    max-width: 100px;
  }

  .nav {
    display: flex;
    gap: vars.$spacing-base;

    .nav-link {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: vars.$accent-color;
      }
    }
  }
}

.footer {
  background-color: vars.$secondary-color;
  color: white;
  text-align: center;
  padding: 1rem;

  .nav-link {
    color: white;

    &:hover {
      color: vars.$accent-color;
    }
  }
}
