// Nueva paleta de colores
$primary-color: #442cbc;  // color1
$secondary-color: #a4ebfc;  // color2
$background-color: #140474;  // color3
$accent-color: #625aa3;  // color4
$text-color: #b9acc7;  // color5

// Tipografía
$font-family-base: 'Arial, sans-serif';
$font-size-base: 16px;

// Espaciados
$spacing-base: 1rem;
